<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="false" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <connectionStrings>
    <add name="BodyByKurtContext" connectionString="Data Source=bodybykurt.db.9737525.hostedresource.com; Initial Catalog=BodyByKurt; uid=bodybykurt; pwd=JKsoftware1!" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <appSettings>
    <add key="IClientSvc" value="BodybyKurt.Service.Plugin.ClientSvcEFImpl"/>
    <add key="IAwardSvc" value="BodybyKurt.Service.Plugin.AwardSvcEFImpl"/>
    <add key="IDietSvc" value="BodybyKurt.Service.Plugin.DietSvcEFImpl"/>
    <add key="IEventSvc" value="BodybyKurt.Service.Plugin.EventSvcEFImpl"/>
    <add key="ITipSvc" value="BodybyKurt.Service.Plugin.TipSvcEFImpl"/>
  </appSettings>
</configuration>